$font-family-sans-serif: 'Roboto Condensed';
$font-family-logo: 'Telford Hollow';

$dark: #131314;


$font-size-base: 1.25rem;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 700;

$display-font-weight: 700;
$display-line-height: 1.1;


$link-color: inherit;

