@import "variables";

body {
  box-sizing: border-box;
  color: white;
  background-color: $dark;
  font-weight: 300;
}

body,
address {
  font-style: italic;
  font-family: "Roboto Condensed";
}

img {
    display: block;
    width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.logo),
.navbar-toggler {
  transition: font-weight 350ms ease-in;

  &:focus,
  &:hover {
    font-weight: 700;
  }
}

.logo-lg, 
.logo-sm {
    display: block;
    font-family: $font-family-logo;
    width: 10em;
    text-align: center;
    white-space: normal;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
  }

  .logo-sm {
font-size: clamp(1rem,2vw,3rem);
  }

  .row {
    display: flex;
  }

// --- header ---

nav {
    padding: 2vw;
}
nav, nav ul {
    display: flex;
}

nav .logo {
    margin-right: auto;
}

nav ul {
    list-style: none;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  margin-inline: 2rem;
}

// --- footer ---
footer {
    background-color: white;
    color: $dark;
    padding: 3vw;
}

footer h3,
footer .logo-sm {
    margin-block: 0;
}

.footer-info {
    margin-left: 5vw;
}

.footer-info > div {
    margin-bottom: 1.5em
}

footer a,
footer p {
    display: block;
    margin-block: 0.5em;
}

// --- home ---
.homepage-text {
    text-align: center;
    margin-block: 5vh;
}

@media (min-width: 900px) {
    .homepage-text {
        text-align: left;
        margin-left: 55vw;
    }
}