@import "variables";

:root {
    $font-size-base: 1rem;
}

body {
  box-sizing: border-box;
}

body,
address {
  font-style: italic;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: clamp(0.75rem, 1vw, 1.4rem);
}

.container {
  color: white;
  background-color: $dark;
  width: min(100vw, 1296px);
  margin-inline: auto;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.logo),
.navbar-toggler {
  transition: font-weight 350ms ease-in;

  &:focus,
  &:hover {
    font-weight: 700;
  }
}

.logo-lg,
.logo-sm {
  display: block;
  font-family: $font-family-logo;
  width: 10em;
  text-align: center;
  white-space: normal;
  font-weight: 700;
  font-style: normal;
}

.logo-sm {
  font-size: clamp(0.75rem, 1vw, 1.75rem);
}

.logo-lg {
  font-size: clamp(1rem, 2vw, 2rem);
}

.row {
  display: flex;
}

// --- header ---

nav {
  padding: 1vw;
}

nav,
nav ul {
  display: flex;
}

nav .logo-lg {
  margin-right: auto;
}

nav ul {
  list-style: none;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  margin-inline: 2rem;
}

// --- footer ---
footer {
  background-color: white;
  color: $dark;
  padding: 4vh 3vh;
}

footer,
address {
    font-size: clamp(0.625rem,1.5vmin,0.85rem)
}

footer .row {
    justify-content: space-evenly;
  }

footer h4,
footer .logo-sm {
  margin-block: 0;
}

.footer--info {
  margin-left: 5vw;
}

.footer--info > div {
  margin-bottom: 1.5em;
}

footer a,
footer p {
  display: block;
  margin-block: 0.5em;
}

@media screen and (min-width: 768px) {

  .footer--logo .logo-sm {
    margin-inline: auto;
  }

  .footer--info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: space-between;

    & > div {
      margin-left: 5%;
    }
  }
}

@media screen and (min-width: 996px) {
  footer .row > div {
    flex-grow: 1;
  }

  .footer--info {
    flex-wrap: nowrap;
    padding-inline: 10%;
  }
}

// --- home ---
.homepage-img {
  max-width: 100vw;
}

.homepage-text {
  text-align: center;
  margin-block: 3vmax;
  padding: 2em;
}

@media (min-width: 900px) {
  .homepage-text {
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: left;
    margin-left: 40%;

  }
}
